<!-- <div class="container-fluid mx-0 px-0">
  <div class="logo d-flex justify-content-center align-items-center">
    <img class="jku-logo img-fluid rounded" src="{{ site.jku_logo }}" width=120px height=40px>
    <img class="ellis-logo img-fluid rounded" src="{{ site.ellis_logo }}" width=250px height=40px>
  </div>
</div> -->


<header>
    <!-- Nav Bar -->

      <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <a class="navbar-brand title font-weight-lighter">
         <!-- {% if site.title == blank %}{{ site.title }}{% else %}<span>{{ site.first_name }}</span> {{ site.middle_name }}  {{ site.last_name }}{% endif %} -->
         <img class="rounded" src="{{ site.jku_logo | prepend: site.baseurl }}" width=100px height=45px>
         <img class="rounded" src="{{ site.ellis_logo | prepend: site.baseurl }}" width=200px height=45px>
        </a>
    <div class="container">
      {% if site.show_social_icons %}
        <!-- Social Icons -->
        <div class="row ml-1 ml-sm-0">
          {% include social.html %}
        </div>
      {% endif %}
      <!-- Navbar Toogle -->
      <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <!-- About -->
          <li class="nav-item {% if page.title == 'about' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              about
              {% if page.title == "about" %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% if site.blog_name %}
          <!-- Blog -->
          <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
            <a class="nav-link" href="{{ '/blog/' | relative_url }}">
              blog
              {% if page.title == "blog" %}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          {% endif %}
          <!-- Other pages -->
          {% assign sorted_pages = site.pages | sort: "title" %}
          {% for p in sorted_pages %}
          {% if p.nav and p.autogen == nil %}
          {% if p.forward %}
          <li class="nav-item {% if page.title == p.title %}active{% endif %}">
              <a class="nav-link" href="{{ p.forward_url }}" target="_blank" rel="noopener noreferrer">
                {{ p.title }}
                {% if page.title == p.title %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>
          {% else %}
          <li class="nav-item {% if page.title == p.title %}active{% endif %}">
                {% if p.title == "research" %}
                    <div class="dropdown">
                      <a class="nav-link" href="{{ p.url | relative_url }}">
                        {{ p.title }}
                        {% if page.title == p.title %}
                        <span class="sr-only">(current)</span>
                        {% endif %}
                      </a>
                        <div class="dropdown-content">
                          <a href="{{ p.url | relative_url }}deep_learning">Deep Learning</a>
                          <a href="{{ p.url | relative_url }}ails">AI Life Science</a>
                          <a href="{{ p.url | relative_url }}reinforcement_learning">Reinforcement Learning</a>
                          <a href="{{ p.url | relative_url }}ml_theory">ML Theory</a>
                          <a href="{{ p.url | relative_url }}ml_earth_science">ML for Earth Science</a>
                        </div>
                      </div>
                    {% if page.title == p.title %}
                    <span class="sr-only">(current)</span>
                    {% endif %}
                {% else %}
                <a class="nav-link" href="{{ p.url | relative_url }}">
                  {{ p.title }}
                  {% if page.title == p.title %}
                  <span class="sr-only">(current)</span>
                  {% endif %}
                </a>
                {% endif %}
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% if site.enable_darkmode %}
            <div class = "toggle-container">
              <a id = "light-toggle">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
              </a>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

</header>
