<div class="talks">
  <h2>talks</h2>
  {% if site.talks  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign talks = site.talks | reverse %}
      {% for item in talks limit: site.talks_limit %}
        <tr>
          <td>
            <p class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</p>
            {% if item.inline %}
              {{ item.content }}
            {% else %}
              <a class="talks-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No talks so far...</p>
  {% endif %}
</div>
